<form [formGroup]="editorialForm" (ngSubmit)="!editorialForm.invalid && createEditorial(editorialForm.value)">

	<div class="form-group mx-sm-3 mb-2">
		<label for="name">
      Editorial Name
    </label>
		<input novalidate
    id="name"
    class="form-control"
      formControlName="name"
      placeholder="">

		<div class="alert alert-danger alert-dismissible fade show"
			*ngIf="editorialForm.get('name').hasError('required') && editorialForm.get('name').touched">
			Name required
		</div>
	</div>

	<div class="form-group  mx-sm-3 mb-2">
		<label for="description">
      Editorial Description
    </label>
		<input id="description" type="text"
     class="form-control"
     formControlName="description"
     placeholder="">

		<div class="alert alert-danger alert-dismissible fade show"
			*ngIf="editorialForm.get('description').hasError('required') && editorialForm.get('description').touched">
			Description required
		</div>
  </div>
		<button class="button mx-sm-3 mb-2" type="submit">Create</button>

</form>

